In [1]:
import pandas as pd
import mlxtend

Brute Force

In [2]:
%run part2.ipynb

items = ['Shampoo', 'Apple', 'Banana', 'Milk', 'Eggs', 'Soap', 'Bacon', 'Sugar', 'Water', 'Yogurt']
items = sorted(items)

a = brute_force(items, 'Database1.csv', 0.35, 0.4)

Brute Force Frequent Itemsets

In [3]:
a[0]

[('Apple',),
 ('Bacon',),
 ('Banana',),
 ('Eggs',),
 ('Milk',),
 ('Shampoo',),
 ('Soap',),
 ('Sugar',),
 ('Water',),
 ('Yogurt',),
 ('Apple', 'Banana'),
 ('Apple', 'Eggs'),
 ('Apple', 'Soap'),
 ('Apple', 'Sugar'),
 ('Apple', 'Water'),
 ('Bacon', 'Soap'),
 ('Bacon', 'Water'),
 ('Banana', 'Eggs'),
 ('Banana', 'Shampoo'),
 ('Banana', 'Soap'),
 ('Banana', 'Water'),
 ('Banana', 'Yogurt'),
 ('Eggs', 'Milk'),
 ('Eggs', 'Shampoo'),
 ('Eggs', 'Soap'),
 ('Eggs', 'Sugar'),
 ('Eggs', 'Water'),
 ('Shampoo', 'Water'),
 ('Soap', 'Sugar'),
 ('Soap', 'Water'),
 ('Water', 'Yogurt'),
 ('Apple', 'Banana', 'Eggs'),
 ('Apple', 'Eggs', 'Sugar'),
 ('Eggs', 'Soap', 'Water')]

Brute Force Association Rules

In [4]:
a[1]

[[('Apple',), ('Banana',)],
 [('Banana',), ('Apple',)],
 [('Apple',), ('Eggs',)],
 [('Eggs',), ('Apple',)],
 [('Apple',), ('Soap',)],
 [('Soap',), ('Apple',)],
 [('Apple',), ('Sugar',)],
 [('Sugar',), ('Apple',)],
 [('Apple',), ('Water',)],
 [('Water',), ('Apple',)],
 [('Bacon',), ('Soap',)],
 [('Soap',), ('Bacon',)],
 [('Bacon',), ('Water',)],
 [('Water',), ('Bacon',)],
 [('Banana',), ('Eggs',)],
 [('Eggs',), ('Banana',)],
 [('Banana',), ('Shampoo',)],
 [('Shampoo',), ('Banana',)],
 [('Banana',), ('Soap',)],
 [('Soap',), ('Banana',)],
 [('Banana',), ('Water',)],
 [('Water',), ('Banana',)],
 [('Banana',), ('Yogurt',)],
 [('Yogurt',), ('Banana',)],
 [('Eggs',), ('Milk',)],
 [('Milk',), ('Eggs',)],
 [('Eggs',), ('Shampoo',)],
 [('Shampoo',), ('Eggs',)],
 [('Eggs',), ('Soap',)],
 [('Soap',), ('Eggs',)],
 [('Eggs',), ('Sugar',)],
 [('Sugar',), ('Eggs',)],
 [('Eggs',), ('Water',)],
 [('Water',), ('Eggs',)],
 [('Shampoo',), ('Water',)],
 [('Water',), ('Shampoo',)],
 [('Soap',), ('Sugar',)],
 [('Sugar',), ('Soap',)],
 [('Soap',), ('Water',)],
 [('Water',), ('Soap',)],
 [('Water',), ('Yogurt',)],
 [('Yogurt',), ('Water',)],
 [('Apple',), ('Banana', 'Eggs')],
 [('Banana',), ('Apple', 'Eggs')],
 [('Eggs',), ('Apple', 'Banana')],
 [('Apple', 'Banana'), ('Eggs',)],
 [('Apple', 'Eggs'), ('Banana',)],
 [('Banana', 'Eggs'), ('Apple',)],
 [('Apple',), ('Eggs', 'Sugar')],
 [('Eggs',), ('Apple', 'Sugar')],
 [('Sugar',), ('Apple', 'Eggs')],
 [('Apple', 'Eggs'), ('Sugar',)],
 [('Apple', 'Sugar'), ('Eggs',)],
 [('Eggs', 'Sugar'), ('Apple',)],
 [('Eggs',), ('Soap', 'Water')],
 [('Soap',), ('Eggs', 'Water')],
 [('Water',), ('Eggs', 'Soap')],
 [('Eggs', 'Soap'), ('Water',)],
 [('Eggs', 'Water'), ('Soap',)],
 [('Soap', 'Water'), ('Eggs',)]]

Apriori

In [5]:
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth

Apriori Frequent Itemsets

In [6]:
df1 = pd.read_csv('Database1.csv')
df1.drop(columns=df1.columns[0], axis=1, inplace=True)
a = apriori(df1, min_support=0.5, use_colnames=True)
a

   support       itemsets
0     0.50        (Apple)
1     0.55       (Banana)
2     0.65         (Eggs)
3     0.60         (Soap)
4     0.65        (Water)
5     0.55       (Yogurt)
6     0.50  (Soap, Water)

Apriori Association Rules

In [7]:
rules = association_rules(a, metric='confidence', min_threshold=0.75)
rules[['antecedents', 'consequents', 'confidence']]

  antecedents consequents  confidence
0      (Soap)     (Water)    0.833333
1     (Water)      (Soap)    0.769231

FP Tree

FP Tree Frequent Itemsets

In [8]:
f = fpgrowth(df1, min_support=0.5, use_colnames=True)
f

   support       itemsets
0     0.65        (Water)
1     0.65         (Eggs)
2     0.60         (Soap)
3     0.50        (Apple)
4     0.55       (Yogurt)
5     0.55       (Banana)
6     0.50  (Soap, Water)

FP Tree Association Rules

In [9]:
rules = association_rules(f, metric='confidence', min_threshold=0.75)
rules[['antecedents', 'consequents', 'confidence']]

  antecedents consequents  confidence
0      (Soap)     (Water)    0.833333
1     (Water)      (Soap)    0.769231